
.merginTop{
    margin-top: 50px;
}
.buttonClass{
    width: 100px!important;

    min-width: unset!important;
}

.left {
    display: block;
    margin-left: 60px;
    width: 50%;
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }